---
title: AVM Opcodes
tableOfContents: false
---

import OpcodeFilters from '../../../../components/OpcodeFilters.astro';

<OpcodeFilters />

{{#each opcodes}}

<div class="opcode-section"
     data-name="{{Name}}"
     data-version="v{{IntroducedVersion}}"
     data-groups="{{csv Groups}}">

    ### {{{headingText Name}}}
    - **Bytecode:** `{{bytecode Opcode}}`
    - **Stack Input:** `{{{valueList Args}}}`
    - **Stack Output:** `{{{valueList Returns}}}`
    - **Size:** {{Size}}
    - **Availability:** v{{IntroducedVersion}}
    - **Cost:** {{DocCost}}
    {{#if Doc}}
    - **Description:** {{{mdxParagraphs Doc}}}
    {{/if}}
    - **Groups:** {{groupList Groups}}

    {{#if DocExtra}}
    <span class="opcode-detail-caption">Notes</span>
    {{{mdxParagraphs DocExtra}}}
    {{/if}}

    {{#if ArgEnum}}
    <span class="opcode-detail-caption">Field Reference</span>
    {{{fieldTable ArgEnum ArgEnumTypes}}}
    {{/if}}

    {{#if ImmediateNote}}
    <span class="opcode-detail-caption">Immediate Parameters</span>
    {{{immediateTable ImmediateNote}}}
    {{/if}}

</div>

{{/each}}
